<div class="container">
<div class="fr-header">
Artists
</div>

<div class="fr-list">
<ul>
<% @artists.each do |artist| %>
<li>
<%=link_to artist.name, artist_path(artist.id) %>
</li>
<% end %>
</ul>
</div>




</div>