<div class="f-container-row">
<div class="f-head">
    Artists
</div>

<div class="f-list">
<ul>
<% @artists.each do |artist| %>
<li>
<%=link_to artist.name, artist_path(artist.id) %>
</li>
<% end %>
</ul>
</div>

</div>