<h1><%= @artist.name %></h1>
<p><%= @artist.description %></p>

<div class="list"><ul><% @field_recordings.each do |f|%>
<li><%= link_to f.title + " " + f.date.to_s, field_recording_path(f.id)%></li>
<% end %></ul></div>

<div class="photo">
<% if @artist.avatar.attached? %>
    <img src="<%= (url_for(@artist.avatar)) %>">
<% end %>
</div>
