<div class="f-container-row">
<div class="f-head">
    Field recordings
</div>

<div class="f-list">
<% if @field_recordings.blank? %>
    <h4>There are no field recordings containing the term <%= params[:search]%>.</h4>
<% end %>
<ul>
<% @field_recordings.each do |fieldrecording| %>
<li>
<%=link_to fieldrecording.title, field_recording_path(fieldrecording) %>
</li>
<% end %>
<br>
<%= link_to "New Field Recording", new_field_recording_path%> 


</div>

</div>