
 /* body and view(s) page container */
 
 body {
    display: grid;
    padding: 0.1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    height: 100% ;
    -webkit-animation: fadein 1.5s;
 }

 .container {
    /* display: flex; */
}






 /* top of every page nav bar  */

 .nav-bar-top {
    display: flex; 
    position: fixed;
    margin-left: -1em;
    margin-top: -0.6em;
    width: 100vw;
    filter: opacity(0.7);
    background-color: rgb(0, 124, 10);
    padding: 1em;
    justify-content: space-evenly;
 }

 .search {
    font-family: 'Fira Code', monospace;
    font-size: 1em;
    color: white; 
 }







 /* links  */

 .nav-bar-top :link {
    font-family: 'Fira Code', monospace;
    font-size: 1em;
    color: white;
 }

 .nav-bar-top a:visited {
    color: rgb(255, 253, 148);
 }

 .nav-bar-top a:hover {
    color: deepskyblue;
 }

 .nav-bar-top a:active {
    color: deepskyblue;
 }
 
 .container :any-link {
     font-family: 'Fira Code', monospace;
     text-decoration: none;
 }

 :any-link:hover {
    color: rgb(255, 247, 202);
}








 /* headers */

h1 {
    font-family: 'Fira Code', monospace;
    font-size: 5em;
    margin-top: 9rem;
    color: rgb(17, 17, 17);
}








/* content */


p {
    font-family: 'Fira Code', monospace;
    font-size: 1.5em;
    grid-row-start: 1;
    grid-column-start: 2;
}







/* lists */

.list {
    font-size: 2em;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Fira Code', monospace;
}







/* forms */


.form {
    font-family: 'Fira Code', monospace;
    display: inline-block;
    margin: inherit;
    padding: 3em;
}

.form input {
    font-family: 'Fira Code', monospace;
    width: 90%;
    height: 2em;
    padding: 0.5em;
    margin-bottom: 5px;
}

.form textarea {
    display: block;
    width: 92%;
    min-height: 120px;
}

.login-form {
    font-family: 'Fira Code', monospace;
    display: inline-block;
    margin: inherit;
    padding: 20px 32px 20px 20px;
}

.login-form input {
    font-family: 'Fira Code', monospace;
    width: 90%;
    height: 2em;
    padding: 0.5em;
    margin-bottom: 5px;
}

form input[type='submit']  {
    display: inline-block;
    width: 70px;
}






/* audio player / footer */


.player {
    background: rgb(12, 11, 11);
    position: fixed;
    bottom: 0;
    margin-left: -2em;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.player audio {
    display: flex;
    filter: invert(1);
    width: 50vw;
}






/* keyframes / animation params */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



