
 /* body and view(s) page container */
 

 a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }



body {
    display: flex;
    text-decoration: none;
    -webkit-animation: fadein 1s;
 }

 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-auto-rows: auto;
    grid-gap: 1em;
    margin-top: 6em;
    margin-left: 4em;
    margin-right: 4em;
}










 /* top of every page nav bar  */


 @media only screen and (max-width: 600px) {
    .navigation {
      display: flex;
      flex-direction: row;
    }
  }

.nav-bar-top {
    display: flex; 
    position: fixed;
    margin-left: -1em;
    margin-top: -0.6em;
    width: 100vw;
    background-color: rgb(0, 124, 10);
    padding: 1em;
    justify-content: space-evenly;
}

 .search {
    font-family: 'Fira Code', monospace;
    font-size: 1em;
    color: white; 
}

.search input#search {
    padding: 0.5em;
    width: 25em;
}


 /* links  */

.nav-bar-top :link {
    font-family: 'Fira Code', monospace;
    font-size: 1.1em;
    color: white;
    padding-right: 1.4em;
}

.nav-bar-top a:visited {
    color: rgb(255, 253, 148);
}

.nav-bar-top a:hover {
    color: deepskyblue;
}

 .nav-bar-top a:active {
    color: deepskyblue;
}
 
.container :any-link {
     font-family: 'Fira Code', monospace;
     text-decoration: none;
}

:any-link:hover {
    color: rgb(5, 30, 172);
}




/* content */


/* artist views styling */

/* artist index */
.artist-header {
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 7em;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
}

.artist-list {
    color: rgb(17, 17, 17);
    font-family: 'Fira Code', monospace;
    font-size: 3em;
    grid-row-start: 2;
    grid-column-start: 2;
}

/* artist show / edit */
.artist-content {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 1em;
}

.artist-content h3{
    font-family: 'Fira Code', monospace;
    color: darkgreen;
    grid-auto-flow: column;
}

.artist-picture {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: auto;
    font-family: 'Fira Code', monospace;
}

.artist-picture img {
    width: 100%;
    height: auto;
}

.new-artist-header {
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 3em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    justify-self: center;
}

.artist-form {
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    justify-self: center;
}

.artist-form input {
    width: 40vw;
    padding: 1em;
}
.artist-form textarea {
    width: 40vw;
    height: 20vh;
}



/* field recordings index */

.fr-header {
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 4em;
    grid-column-start: 1;
    grid-column-end: 5;
}

.fr-list {
    color: rgb(17, 17, 17);
    font-family: 'Fira Code', monospace;
    font-size: 2em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.fr-stats {
    color: rgb(17, 17, 17);
    font-family: 'Fira Code', monospace;
    font-size: 1em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}


/* field recordings show */

.fr-content {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 2em;
    margin-bottom: 3em;
}

.fr-header {
    font-family: 'Fira Code', monospace;
    font-size: 7em;
    color: darkgreen;
    grid-auto-flow: column;
}

.fr-description {
    margin-top: 0.5em;
    color: rgb(0, 151, 50);
    font-size: 0.8em;
}

.fr-comments {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 1em;
    padding-bottom: 3em;
}

.fr-picture {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: auto;
    margin-bottom: 3em;
}

.fr-comments img {
    margin-bottom: 2em;
    width: 100%;
    height: auto;
}


/* field recordings form */

.artist-form {
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    justify-self: center;
}

.fr-form {
    font-family: 'Fira Code', monospace;
}
.fr-form input {
    width: 40vw;
    padding: 1em;
}
.fr-form textarea {
    width: 40vw;
    height: 20vh;
}


/* locations  */

/* locations index */

.location-list {
    color: rgb(17, 17, 17);
    font-size: 2em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

/* locations show */

.location-header {
    font-family: 'Fira Code', monospace;
    font-size: 7em;
    color: darkgreen;
    grid-auto-flow: column;
}

.location-list {
    color: rgb(17, 17, 17);
    font-size: 2em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}





/* user  */


.stat-link {
    font-family: 'Fira Code', monospace;
    font-size: 0.6em;
}

.user-header {
    font-family: 'Fira Code', monospace;
    font-size: 2em;
    color: darkgreen;
    grid-auto-flow: column;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
}

.user-follows {
    font-family: 'Fira Code', monospace;
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 3;
}

.user-comments {
    font-family: 'Fira Code', monospace;
    font-size: 2em;
    grid-column-start: 3;
    grid-column-end: 5;
}


.user-form {
    font-family: 'Fira Code', monospace;
    color: rgb(17, 17, 17);
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    justify-self: center;
}

.user-form input {
    width: 40vw;
    padding: 1em;
}

.comment-form {
    margin-top: 4em;
    font-family: 'Fira Code', monospace;
    max-width: 100vw;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
}


textarea#comment_comment {
    width: 40vw;
    height: 30vh;;
    padding: 1em;
}

.recording-title {
    font-family: 'Fira Code', monospace;
    font-size: 3em;
    color: darkgreen;
}










/* lists */

.list {
    font-size: 2em;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Fira Code', monospace;
}







/* forms */


.form {
    font-family: 'Fira Code', monospace;
    display: inline-block;
    margin: inherit;
    padding: 3em;
}

.form input {
    font-family: 'Fira Code', monospace;
    width: 90%;
    height: 2em;
    padding: 0.5em;
    margin-bottom: 5px;
}

.form textarea {
    display: block;
    width: 92%;
    min-height: 120px;
}

.login-form {
    font-family: 'Fira Code', monospace;
    display: inline-block;
    margin: inherit;
    padding: 20px 32px 20px 20px;
}

.login-form input {
    font-family: 'Fira Code', monospace;
    width: 90%;
    height: 2em;
    padding: 0.5em;
    margin-bottom: 5px;
}

form input[type='submit']  {
    display: inline-block;
    width: 70px;
}






/* audio player / footer */


.player {
    background: rgb(12, 11, 11);
    position: fixed;
    bottom: 0;
    margin-left: -2em;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.player audio {
    display: flex;
    filter: invert(1);
    width: 50vw;
}






/* keyframes / animation params */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



