
 body {
    display: grid;
    padding: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    height: 100% ;
    -webkit-animation: fadein 1.5s;
 }

 .login {
    position: fixed;
    margin-left: 2em;
    margin-top: 0.5em;
    filter: opacity(0.7);
    background-color: lightpink;
    padding: 3em;
    font-size: 0.6em;
 }

 .signup {
    position: fixed;
    margin-left: 30em;
    margin-top: 0.5em;
    filter: opacity(0.7);
    background-color: rgb(249, 255, 160);
    padding: 3em;
    font-size: 0.6em;
    z-index: 1;
}


 .menu-bar {
     font-size: 0.6em;
     background-color: honeydew;
     filter: opacity(0.7);
     position: fixed;
     margin-left: 6rem;
     margin-top: 3.5rem;
     padding: 7em;
 }

h1 {
    font-family: 'Fira Code', monospace;
    font-size: 5em;
    margin-top: 9rem;
    color: rgb(17, 17, 17);
}

p {
    font-family: 'Fira Code', monospace;
    font-size: 1.5em;
    grid-row-start: 1;
    grid-column-start: 2;
}

:any-link {
    font-family: 'Fira Code', monospace;
    padding: 1em;
    text-decoration: none;

}

:any-link:hover {
    color: azure;
}

.list {
    font-size: 2em;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Fira Code', monospace;
}

.form {
    font-family: 'Fira Code', monospace;
    display: inline-block;
    margin: inherit;
    padding: 3em;
}

.form input {
    font-family: 'Fira Code', monospace;
    width: 90%;
    height: 2em;
    padding: 0.5em;
    margin-bottom: 5px;
}

.form textarea {
    display: block;
    width: 92%;
    min-height: 120px;
}

.login-form {
    font-family: 'Fira Code', monospace;
    display: inline-block;
    margin: inherit;
    padding: 20px 32px 20px 20px;
}

.login-form input {
    font-family: 'Fira Code', monospace;
    width: 90%;
    height: 2em;
    padding: 0.5em;
    margin-bottom: 5px;
}

form input[type='submit']  {
    display: inline-block;
    width: 70px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



