<div class="container">

<div class="fr-header">
    Locations
</div>

<div class="fr-list">
<ul>
<% @locations.each do |location| %>
<li>
<%=link_to location.name, location_path(location.id) %>
</li>
<% end %>
</ul>
</div>

<div class="ft-location">

Featured Location<br>
<br>
location: <%= link_to @random_location.name, location_path(@random_location) %><br>
recordings: <% @recordings.each do |r| %>
            <%= link_to r.title, field_recording_path(r) %><br>   
            <% end %>
                    
    
    
</div>
     

</div>