<div class="container">

<div class="location-header">
    Locations
</div>

<div class="location-list">
<% @locations.each do |location| %>
<li>
<%=link_to location.name, location_path(location.id) %>
</li>
<% end %>
</div>

</div>