<div class="f-container-row">

<div class="f-head">
    Locations
</div>

<div class="f-list">
<% @locations.each do |location| %>
<li>
<%=link_to location.name, location_path(location.id) %>
</li>
<% end %>
</div>

</div>