<div class="container">

<div class="location-header">
    <%= @location.name %>
</div>

<div class="f-desc">
<%= @location.description %>
</div>




<div class="location-list">
<ul>
<% @field_recordings.each do |f| %>
<li><%= link_to f.title + " - " + f.date.to_s, field_recording_path(f)%></li>
<% end %>
</ul>
</div>

</div>